<div>
  # <h1 class="font-bold text-4xl">Home#index</h1>
  <h1 class="text-3xl">
    Hello world!
  </h1>
  <button class="transition delay-150 duration-300 ease-in-out">Button A</button>


  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  Button
  </button>
  <p>Find me in app/views/home/index.html.erb</p>
</div>
